In [40]:
#!/usr/bin/env python

import json
import pandas as pd
import os
import re
from difflib import get_close_matches
from fuzzywuzzy import fuzz

HEADERS = [
    "NON-TAXREVENUE",
    "TAXREVENUE",
    "GENERAL SERVICES",
    "SOCIAL SERVICES",
    "GRANTS-IN-AID AND CONTRIBUTIONS",
    "CAPITAL RECEIPT",
    "PUBLIC DEBT",
    "LOANS AND ADVANCES",
    "ECONOMIC SERVICES",
    "INTERSTATE SETTLEMENT",
    "Transfer to Contigency Fund",
    "SMALL SAVINGS,PROVIDENT FUND",
    "RESERVE FUNDS",
    "DEPOSITS AND ADVANCES",
    "SUSPENSE AND MISCELLANEOUS",
    "REMITTANCES",
    "TOTAL-PUBLIC ACCOUNT",
    "TOTAL-RECEIPTS",
    "OPENING CASH BALANCE",
    "GRAND TOTAL"
]

SUBHEADERS = [
    "Goods and Service Tax",
    "Taxes on Income and Expenditure",
    "Organs of State",
    "Fiscal Services",
    "Taxes on Property, Capital and other Transactions",
    "Taxes on Commodities and Services Other than Goods and Services Tax",
    "Interest Payments and Servicing of Debt",
    "Interests Receipts, Dividents and Profits",
    "Other Non-Tax Revenue",
    "Administrative Services",
    "Pension and Miscellaneous General Services",
    "Defense Services",
    "Education, Sports, Art and Culture",
    "Health and Family Welfare",
    "Water Supply, Sanitation, Housing and Urban Development",
    "Information and Broadcasting",
    "Welfare of Schedules Castes, Scheduled Tribes and Other Backward Classes",
    "Labour and Labour Welfare",
    "Social Welfare and Nutrition",
    "Others",
    "Agriculture and Allied Activities",
    "Rural Development",
    "Special Areas Programmes",
    "Irrigation and Flood Control",
    "Energy",
    "Industry and Minerals",
    "Transport",
    "Communications",
    "Science Technology and Environment",
    "General Economic Services",
    "Reserve Funds bearing interest",
    "Reserve Funds not bearing interest",
    "Deposits bearing interest",
    "Deposits not bearing interest",
    "Advances"
]

SUBSUBHEADERS = [
    "Collection of Taxes on Income and Expenditure",
    "Collection of Taxes on Property and Capital Transactions",
    "Collection of Taxes on Commodities and Services",
    "Other Fiscal Services",
    "General Services",
    "Social Services",
    "Economic Services"
]
def extract_amount(s):
    match = re.search(r'(\d+\.\d+)', s)
    return match.group(1) if match else None

def remove_amount(s):
    return re.sub(r'\d+\.\d+', '', s).strip()

def clean_string(s):
    # Remove numbers, special characters, and extra whitespace
    s = re.sub(r'[^a-zA-Z\s]', '', s)
    return s.strip()

def get_closest_match(input_str, possible_matches):
    direct_matches = [match for match in possible_matches if match.lower() in input_str.lower()]
    # If there's more than one direct match, return the longest one
    if direct_matches:
        return max(direct_matches, key=len)
    """Get the closest match for the input string from a list of possible matches."""
    matches = get_close_matches(input_str, possible_matches, n=1, cutoff=0.6)
    return matches[0] if matches else input_str

def get_best_match(input_str, possible_matches):
    
    direct_matches = [match for match in possible_matches if match.lower() in input_str.lower()]    
    if direct_matches:
        return max(direct_matches, key=len)
    ratios = [(match, fuzz.token_set_ratio(input_str, match)) for match in possible_matches]
    best_match = max(ratios, key=lambda x: x[1])
    if best_match[1] > 60:  # Assuming 60 as a threshold. Adjust if necessary.
        return best_match[0]
    return input_str

def process_headers(df):
    # Initialize the columns with NaN values
    df['header'] = pd.NA
    df['subheader'] = pd.NA
    df['sub-subheader'] = pd.NA
    
    # Placeholder variables for each header type
    current_header = None
    current_subheader = None
    current_subsubheader = None
    
    # Flag to handle the situation where a subheader is followed by a Roman numeral
    expecting_subsubheader = False

    for idx, row in df.iterrows():
        desc = row['Code/Description']

        # Ensure code is NaN
        if pd.isna(row['Code']):
            
            # If the last row was a subheader and this row is a Roman numeral, treat it as a sub-subheader
            if expecting_subsubheader:
                subsubheader_match = re.search(r"\((i|ii|iii|iv|v|vi|vii|viii|ix|x)\)", desc)
                if subsubheader_match:
                    current_subsubheader = get_closest_match(clean_string(desc.strip()), SUBSUBHEADERS)
                    continue
                else:
                    expecting_subsubheader = False
            
            # Check for header pattern
            header_match = re.search(r"^(?:[A-Z]-|[A-Z]+$)", desc)
            print(header_match)
            if header_match:
                print(header_match)
                current_header = get_closest_match(desc[header_match.end():].strip(), HEADERS)
                current_subheader = None
                current_subsubheader = None

            # Check for subheader pattern
            subheader_match = re.search(r"\([a-z]\)", desc)
            if subheader_match:
                current_subheader = get_closest_match((desc[subheader_match.end():].strip()), SUBHEADERS)
                current_subsubheader = None
                # If a subheader is detected, set the flag
                expecting_subsubheader = True

            # If a sub-subheader pattern is detected without the flag being set, just handle it normally
            if not expecting_subsubheader:
                subsubheader_match = re.search(r"\((i|ii|iii|iv|v|vi|vii|viii|ix|x)\)", desc)
                if subsubheader_match:
                    current_subsubheader = get_closest_match((desc[subsubheader_match.end():].strip()), SUBSUBHEADERS)
        
        # Update DataFrame rows with the current header values
        df.at[idx, 'header'] = current_header
        df.at[idx, 'subheader'] = current_subheader
        df.at[idx, 'sub-subheader'] = current_subsubheader
    
    return df



def check_values_in_dataframe(df):
    # Define regular expressions for the target values
    exp_notes_pattern = r'.*E\s*X\s*P\s*L\s*A\s*N\s*A\s*T\s*O\s*R\s*Y\s*N\s*O\s*T\s*E\s*S.*'
    actuals_pattern = r'.*A\s*C\s*T\s*U\s*A\s*L\s*S.*'

    # Iterate through all the values in the DataFrame
    for column in df.columns:
        for index, value in df[column].items():
            if value is None:
                continue
            # Remove spaces and convert to lowercase for comparison
            cleaned_value = re.sub(r'\s', '', value.upper())

            # Check for "EXPLANATORYNOTES" using regular expression
            if re.match(exp_notes_pattern, cleaned_value):
                return "exp_notes"

            # Check for "Actuals" using regular expression
            if re.match(actuals_pattern, cleaned_value):
                return "receipts"

    # If none of the conditions match, return "others"
    return "others"

# Function to check entire row for keywords
def check_keywords(row):
    if 'Receipts' in row.to_string():
        return 'R'
    elif 'Disbursements' in row.to_string():
        return 'D'
    return None


def extract_number(filename):
    match = re.search(r'output_pg_(\d+)', filename)
    if match:
        return int(match.group(1))
    else:
        return 0  # default value if no match is found


# In[3]:


def has_decimal_number(item):
    return bool(re.search(r'^\d+\.\d+$', item))


def process_row(row, PYA, CYA):
    # If there are decimal numeric values in the row, just return the current value
    if has_decimal_number(str(row[PYA])) or has_decimal_number(str(row[CYA])):
        return row['Code/Description']

    cols = row.index
    row_data = [str(item) for item in row if pd.notnull(item)]
    for idx, item in enumerate(reversed(row_data)):
        match = re.search(r'\b\d{4}\b', item)
        if match:
            idx_of_match = item.rfind(match.group())
            concatenated_str = item[idx_of_match:]
            if idx != 0:
                concatenated_str += ' ' + ' '.join(row_data[-idx:])
            return concatenated_str
    return row['Code/Description']


# In[4]:


# find heading for the total and add it into a separate column for all the rows contained in it

def shift_values(row):
    # Check if Code/Description is None
    if pd.isna(row['Code/Description']):
        # Search for the pattern of a 4-digit code from the end of the string
        match = re.search(r'(\d{4}-.*$)', row['HindiCode'])
        if match:
            # Assign everything including and after the 4-digit code to Code/Description
            row['Code/Description'] = match.group(1)
            # Extract everything before the 4-digit code in HindiCode
            row['HindiCode'] = row['HindiCode'].rsplit(match.group(1), 1)[0].strip()
    return row


# Pattern to detect headers, subheaders, and sub-subheaders
# pattern = r'(?:[A-Z]-|\([a-z]\)|\([ivx]+\))'
pattern = r'(?:^[A-M]-|\([a-l]\)|\([ivx]+\))'
def correct_ocr_errors(s):
    # If the string starts with an uppercase letter followed by an uppercase letter without a hyphen, 
    # we'll insert a hyphen.
    # corrected = re.sub(r'^([A-Z])([A-Z])', r'\1-\2', s)
    return s

def has_numeric(row, PYA, CYA):
    return bool(re.search(r'^\d+(\.\d+)?$', str(row[PYA]))) and bool(re.search(r'^\d+(\.\d+)?$', str(row[CYA])))


def process_row1(row, PYA, CYA):
    # If there are numeric values in the row, just return the current value
    if has_numeric(row, PYA, CYA) or ("TOTAL" in str(row['Code/Description'])):
        return row['Code/Description']

    row_data = [str(item) for item in row if pd.notnull(item)]
    for idx, item in enumerate(reversed(row_data)):
        corrected_item = correct_ocr_errors(item)
        match = re.search(pattern, corrected_item)
        if match:
            idx_of_match = corrected_item.rfind(match.group())
            concatenated_str = corrected_item[idx_of_match:]
            if idx != 0:
                concatenated_str += ' '.join(row_data[-idx:])
            return concatenated_str
    return row['Code/Description']

# In[6]:


def remove_before_total(df):
    for index, row in df.iterrows():
        if "TOTAL" in str(row['Code/Description']):
            row_data = str(row['Code/Description']).split("TOTAL")
            df.at[index, 'Code/Description'] = "TOTAL" + row_data[-1]
    return df


# In[7]:


def is_numeric(value):
    return bool(re.search(r'^\d+\.\d+$', str(value)))


def clean_numeric_columns(row, PYA, CYA):
    if not is_numeric(row[PYA]):
        row[PYA] = None
    if not is_numeric(row[CYA]):
        row[CYA] = None
    return row


# In[8]:


def merge_rows(df, PYA, CYA):
    i = 0
    while i < len(df) - 1:
        if not pd.isna(df.loc[i, 'Code']) and pd.isna(df.loc[i, CYA]) and pd.isna(df.loc[i, PYA]):
            j = i + 1
            while j < len(df) and pd.isna(df.loc[j, 'Code']):
                df.loc[i, 'Code/Description'] += ' ' + df.loc[j, 'Code/Description']
                if not pd.isna(df.loc[j, CYA]) or not pd.isna(df.loc[j, PYA]):
                    df.loc[i, CYA] = df.loc[j, CYA]
                    df.loc[i, PYA] = df.loc[j, PYA]
                    df.drop(list(range(i + 1, j + 1)), inplace=True)
                    df.reset_index(drop=True, inplace=True)
                    break
                j += 1
            else:
                i = j
        else:
            i += 1
    return df


# In[9]:


def concatenate_rows(df, PYA, CYA):
    pattern = r'(?:[A-Z]-|\([a-z]\)|\([ivx]+\))'  # matches A-, (a), (ii) etc.

    to_drop = []
    for idx, row in df.iterrows():
        if re.search(pattern, str(row['Code/Description'])):
            next_idx = idx + 1
            while next_idx < len(df) and pd.isna(df.at[next_idx, CYA]) and pd.isna(
                    df.at[next_idx, PYA]) and not re.search(pattern, str(df.at[next_idx, 'Code/Description'])):
                df.at[idx, 'Code/Description'] += ' ' + df.at[next_idx, 'Code/Description']
                to_drop.append(next_idx)
                next_idx += 1

    df.drop(to_drop, axis=0, inplace=True)
    df.reset_index(drop=True, inplace=True)

    return df


# Define the function to process one JSON file
def process_json(data, PYA, CYA):

    ocr_data = {
        'lines': data['imageText']['lines']
        # 'lines': data['image_text']['lines']
    }

    # Thresholds
    y_threshold = 0.01
    x_threshold = 0.03

    rows = []

    for line in ocr_data["lines"]:
        y_avg = sum([v["y"] for v in line["boundingPolygon"]["normalizedVertices"]]) / 4
        x_start = line["boundingPolygon"]["normalizedVertices"][0]["x"]
        added = False
        for row in rows:
            if abs(row["y_avg"] - y_avg) < y_threshold:
                added_to_cell = False
                for cell in row["cells"]:
                    if abs(cell["x_start"] - x_start) < x_threshold:
                        cell["texts"].append(line["text"])
                        added_to_cell = True
                        break
                if not added_to_cell:
                    row["cells"].append({"x_start": x_start, "texts": [line["text"]]})
                added = True
                break
        if not added:
            rows.append({"y_avg": y_avg, "cells": [{"x_start": x_start, "texts": [line["text"]]}]})

    # Convert rows to pandas DataFrame
    data = []
    for row in rows:
        out_row = []
        for cell in row["cells"]:
            out_row.append(" ".join(cell["texts"]))
        data.append(out_row)

    df = pd.DataFrame(data)
    format_type = check_values_in_dataframe(df)
    if format_type == 'others' or format_type == 'exp_notes':
        return format_type
    df = dataframe_processing(df, PYA, CYA)

    return df



def dataframe_processing(df, PYA, CYA):
    # ADDING HEADINGS TO TABLE
    new_columns = ["HindiCode", "Code/Description", CYA, PYA]
    remaining_columns = df.columns[len(new_columns):]
    df.columns = new_columns + list(remaining_columns)
    # Create a mask for rows meeting the condition
    mask = (
            df[PYA].isna() &
            ~df[CYA].isna() &
            df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
                                                                                               1).str.isnumeric()
    )

    df.loc[mask, PYA] = df.loc[mask, CYA]
    df.loc[mask, CYA] = df.loc[mask, 'Code/Description']
    df.loc[mask, 'Code/Description'] = df.loc[mask, 'HindiCode']
    df.loc[mask, 'HindiCode'] = None

    contains_disbursement = False
    pattern_disbursements = r'D\s*i\s*s\s*b\s*u\s*r\s*s\s*e\s*m\s*e\s*n\s*t\s*s'
    for col in df.columns:
        if df[col].astype(str).str.contains(pattern_disbursements, regex=True).any():
            contains_disbursement = True
            break

    contains_receipts = False
    pattern_receipts = r'R\s*e\s*c\s*e\s*i\s*p\s*t\s*s'
    for col in df.columns:
        if df[col].astype(str).str.contains(pattern_receipts, regex=True).any():
            contains_receipts = True
            break

    # In[13]:

    df['Code/Description'] = df.apply(process_row, axis=1, args=(PYA, CYA))

    # In[14]:
    
    # Filter rows where 'HindiCode' is not NaN, contains "total" (case-insensitive), and 'Code/Description' is NaN
    condition = (df['HindiCode'].notna() &
                 df['HindiCode'].str.contains('total', case=False, na=False) &
                 df['Code/Description'].isna())

    # Copy values from 'HindiCode' to 'Code/Description' for rows matching the condition
    df.loc[condition, 'Code/Description'] = df.loc[condition, 'HindiCode']
    
#     # Identify the condition
#     condition = (df['Code/Description'].astype(str).str.replace(".", "", 1).str.isnumeric()) & (df['HindiCode'].notna())

#     # Copy values based on the condition
#     df.loc[condition, PYA] = df.loc[condition, 'Code/Description']
#     df.loc[condition, 'Code/Description'] = df.loc[condition, 'HindiCode']
#     df.loc[condition, CYA] = df.loc[condition, 'Code/Description'].apply(extract_amount)
#     df.loc[condition, 'Code/Description'] = df.loc[condition, 'Code/Description'].apply(remove_amount)
    
    df[[PYA, CYA]] = df[[PYA, CYA]].applymap(
        lambda x: float(re.sub('[^0-9.]', '', str(x))) if re.search(r'[*]?\d+\.\d+', str(x)) else x)
    
    df = df.apply(shift_values, axis=1)
    
    df['Code/Description'] = df.apply(process_row1, axis=1, args=(PYA, CYA))
    
    # Sample usage:
    df = remove_before_total(df)
    
    df = df.drop(df.columns[0], axis=1)

    # In[23]:
    
    i = 0
    while i < len(df):
        row = df.iloc[i]
        if 'TOTAL' in str(row['Code/Description']).upper() and pd.isna(row[PYA]) and pd.isna(row[CYA]):
            # Start of a section to be concatenated
            combined_desc = row['Code/Description']

            j = i + 1  # Initialize the next row index
            while j < len(df):
                next_row = df.iloc[j]
                is_numeric_2020_2021 = pd.notna(pd.to_numeric(next_row[PYA], errors='coerce'))
                is_numeric_2021_2022 = pd.notna(pd.to_numeric(next_row[CYA], errors='coerce'))

                combined_desc += " " + next_row['Code/Description']
                if is_numeric_2020_2021 or is_numeric_2021_2022:
                    # Update the current row's description and numeric columns in-place
                    df.loc[i, 'Code/Description'] = combined_desc
                    df.loc[i, PYA] = next_row[PYA]
                    df.loc[i, CYA] = next_row[CYA]
                    break

                j += 1

            # Drop rows from i+1 to j (both inclusive) as they've been combined into the row at index i
            df.drop(range(i + 1, j + 1), inplace=True)
            df.reset_index(drop=True, inplace=True)

        else:
            i += 1

    # In[24]:
    df = df.dropna(how='all')
    
    # In[25]:

    df['Code'] = df['Code/Description'].str.extract(r'(\b\d{4}\b)')
    # Replace 4-digit code followed by non-alphabetical characters up to the first alphabetical character
    df['Code/Description'] = df['Code/Description'].str.replace(r'\b\d{4}\b[^\w]*', '', regex=True)
    
    # In[26]:

    # Set the column order to make 'Code' the first column
    df = df[['Code'] + [col for col in df if col != 'Code']]

    # In[27]:

    df.reset_index(drop=True, inplace=True)
    
    # In[28]:
    
    # Remove rows where any column contains CYA or PYA
    mask = df.apply(lambda row: (CYA not in row.values) and (PYA not in row.values), axis=1)
    df = df[mask]
    df.reset_index(drop=True, inplace=True)

    df = df.apply(clean_numeric_columns, axis=1, args=(PYA, CYA))

    df = merge_rows(df, PYA, CYA)
    
    # In[31]:

    df.reset_index(drop=True, inplace=True)
    
    # In[32]:

    df.reset_index(drop=True, inplace=True)

    df = concatenate_rows(df, PYA, CYA)

    # In[33]:

    rows_to_drop = []
    
    # Loop through the dataframe but exclude the last row for comparison purposes
    for idx in range(len(df) - 1):
        current_row = df.iloc[idx]
        next_row = df.iloc[idx + 1]

        # Condition to check if the current row and the next row meet the criteria
        if pd.notna(current_row['Code']) and pd.isna(current_row[PYA]) and pd.isna(current_row[CYA]) \
                and pd.isna(next_row['Code']) and pd.notna(next_row[PYA]) and pd.notna(next_row[CYA]):
            # Merge data from the next row into the current row
            df.at[idx, PYA] = next_row[PYA]
            df.at[idx, CYA] = next_row[CYA]

            # Mark the next row for deletion
            rows_to_drop.append(idx + 1)
    
    # Drop the rows marked for deletion
    df.drop(rows_to_drop, inplace=True)
    df.reset_index(drop=True, inplace=True)

    mask = (df['Code/Description'] == '1') & (df[PYA] == '3') & (df[CYA] == '2')

    # Use the inverse of the mask to filter out rows that match the criteria
    df = df[~mask]
    
#     # Initializing columns
#     df['header'] = pd.NA
#     df['subheader'] = pd.NA
#     df['sub-subheader'] = pd.NA

#     # Placeholder variables for each header type
#     current_header = None
#     current_subheader = None
#     current_subsubheader = None

#     for idx, row in df.iterrows():
#         desc = row['Code/Description']

#         # Check for each pattern and update the corresponding placeholders
#         if re.search(r"^[A-Z]-", desc):
#             current_header = re.split(r"^[A-Z]-", desc)[-1].strip()
#             current_subheader = None
#             current_subsubheader = None

#         elif re.search(r"\([a-z]\)", desc):
#             current_subheader = re.split(r"\([a-z]\)", desc)[-1].strip()
#             current_subsubheader = None

#         elif re.search(r"\([ivx]+\)", desc):
#             current_subsubheader = re.split(r"\([ivx]+\)", desc)[-1].strip()

#         # Assigning the values to the new columns
#         df.at[idx, 'header'] = current_header if current_header else desc
#         df.at[idx, 'subheader'] = current_subheader if current_subheader else desc
#         df.at[idx, 'sub-subheader'] = current_subsubheader if current_subsubheader else desc

    # df[['header', 'subheader', 'sub-subheader']] = df['Code/Description'].apply(process_headers)
    print(df)
    df = process_headers(df)

    df = df.dropna(subset=['Code', PYA, CYA], how='all').reset_index(drop=True)
    
    df = df.dropna(subset=[PYA, CYA], how='all')

    df = df.dropna(how='all')
    
    df = df.reset_index(drop=True)
    
    # Define a condition to check for alphabetic characters
    condition = (df[PYA].astype(str).str.contains('[a-zA-Z]', na=False)) & \
                (df[CYA].astype(str).str.contains('[a-zA-Z]', na=False))

    # Remove rows that match the condition
    df = df[~condition].reset_index(drop=True)
    
    # In[41]:
    df['Code'] = df['Code'].astype(str)

    # Melt the DataFrame to change its structure
    melted_df = df.melt(id_vars=['Code', 'Code/Description', 'header', 'subheader', 'sub-subheader'],
                        value_vars=[CYA, PYA],
                        var_name='Year',
                        value_name='Amount')
    
    # Extract the actual year from the 'Year' column
    melted_df['Year'] = melted_df['Year'].str.split('-').str[1].astype(int)
    melted_df.reset_index(drop=True, inplace=True)

    # Add the column based on conditions
    if contains_disbursement:
        melted_df['page_type'] = 'Disbursements'
    elif contains_receipts:
        melted_df['page_type'] = 'Receipts'
    else:
        melted_df['page_type'] = None
    
    
    return melted_df


# Directory containing your JSON files
dir_path = './doc_jsons/20172018'  # Modify this if your json files are in another directory
PYA, CYA = f"{int(dir_path[-8:-4]) - 1}-{dir_path[-8:-4]}", dir_path[-8:-4] + '-' + dir_path[-4:]
# Output Excel file
output_excel = "output_oci.xlsx"

# Get all JSON files from the directory
json_files = [f for f in os.listdir(dir_path) if f.endswith('.json')]

json_files = sorted(json_files, key=extract_number)
print(json_files)
all_dataframes = []

for json_file in json_files:
    with open(os.path.join(dir_path, json_file), 'r') as file:
        data = json.load(file)
    df = process_json(data, PYA, CYA)
    all_dataframes.append(df)

# with open(os.path.join(dir_path, json_files[8]), 'r') as file:
#     data = json.load(file)
# df = process_json(data,PYA, CYA)
# all_dataframes.append(df)

# 4. Consolidate all data into a single Excel sheet
p_df = pd.concat(all_dataframes, ignore_index=True)

p_df.to_csv("./final_format1_20172018.csv")
p_df

['output_pg_1.json', 'output_pg_2.json', 'output_pg_3.json', 'output_pg_4.json', 'output_pg_5.json', 'output_pg_6.json', 'output_pg_7.json', 'output_pg_8.json', 'output_pg_9.json', 'output_pg_10.json', 'output_pg_11.json', 'output_pg_12.json', 'output_pg_13.json', 'output_pg_14.json', 'output_pg_15.json', 'output_pg_16.json', 'output_pg_17.json', 'output_pg_18.json']
    Code                                   Code/Description  2017-2018  \
0    NaN                                                  1        NaN
1    NaN                    RECEIPT HEADS (REVENUE ACCOUNT)        NaN
2    NaN                                       A-TAXREVENUE        NaN
3    NaN                       (a)-Goods and Services Tax -        NaN
4   0005    Central Goods and Services Tax(CGST) *193591.99  193591.99
5   0007                 Union Territory Goods and Services    1635.10
6    NaN                                         Tax(UTGST)        NaN
7   0008  Integrated Goods and Services Tax(IGST) * 1086...  108690.44
8   0009                Goods and Services Tax Compensation   62611.59
9    NaN                                               Cess        NaN
10   NaN                       TOTAL-Goods and Services Tax  366529.12
11   NaN                (b)-Taxes on Incomeand Expenditure-        NaN
12  0020                                    Corporation Tax  364936.36
13  0021  Taxes on Income other than Corporation Tax *23...  204761.30
14  0023                                 Hotel Receipts Tax       0.50
15  0024                                       Interest Tax       4.45
16  0026                   Fringe Benefit Tax -93.29 -66.89      93.29
17  0028              Other Taxes on Income and Expenditure   10887.53
18   NaN               TOTAL -Taxeson Incomeand Expenditure  609761.74

    2016-2017
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12  289484.62
13        NaN
14        NaN
15       4.98
16      66.89
17   15163.19
18  509347.68
None
None
<re.Match object; span=(0, 2), match='A-'>
<re.Match object; span=(0, 2), match='A-'>
None
None
None
None
None
None
    Code                                   Code/Description  2017-2018  \
0    NaN                                                  1        NaN
1    NaN  PARTI-CONSOLIDATEDFUND-REVENUE EXPENDITUREHEAD...        NaN
2    NaN                                A-GENERAL SERVICES-        NaN
3    NaN                                 (a)-OrgansofState-        NaN
4   2011      Parliament/State/Union Territory Legislatures     948.38
5   2012  President, Vice-President/Governor, Administra...      67.87
6   2013                               Council of Ministers     604.52
7   2014                          Administration of Justice    1033.72
8   2015                                          Elections        NaN
9   2016                                              Audit    4035.80
10   NaN                               TOTAL-Organsof State    8014.69
11   NaN                              (b)- Fiscal Services-        NaN
12   NaN  (i)Collection of Taxes on Income and Expenditure-        NaN
13  2020      Collection of Taxes on Income and Expenditure    6019.34
14   NaN  (i)Collection of Taxeson Property and Capital ...        NaN
15  2029                                       Land Revenue      18.72
16  2030                            Stamps and Registration       1.79
17  2031  Collection of Taxes on Wealth, Securities Tran...     152.17
18   NaN  TOTAL-Collection ofTaxes on Property and Capit...     172.68

    2016-2017
0         NaN
1         NaN
2         NaN
3         NaN
4      920.48
5       66.08
6      601.34
7      927.99
8     2459.30
9     3770.96
10    8746.15
11        NaN
12        NaN
13    5483.64
14        NaN
15      17.35
16       1.41
17     139.46
18     158.22
None
None
<re.Match object; span=(0, 2), match='A-'>
<re.Match object; span=(0, 2), match='A-'>
None
None
None
None
    Code                                   Code/Description   2017-2018  \
0    NaN                                                  1         NaN
1    NaN                                       A-TAXREVENUE         NaN
2    NaN           (c)-Taxes on Property, Capital and other         NaN
3   0029                                       Land Revenue        4.08
4   0030                       Stamps and Registration Fees      205.37
5   0031                         Miscellaneous Tax Receipts        0.84
6   0032                     Taxes on Wealth *68.76 -262.96       68.76
7   0034                         Securities Transaction Tax    11881.40
8    NaN  TOTAL-Taxeson Property,Capitaland other Transa...    12160.45
9    NaN              (d)-Taxes on Commodities and Services         NaN
10  0036                        Commodities Transaction Tax        0.01
11  0037                                            Customs    61052.92
12  0038                                Union Excise Duties   186877.43
13  0039                                       State Excise      780.00
14  0040                        Taxes on Sales, Trade, etc.     1706.49
15  0041                                  Taxes on Vehicles      217.82
16  0042                      Taxes on Goods and Passengers       11.25
17  0043                    Taxes and Duties on Electricity       34.41
18  0044                                        Service Tax     6061.89
19  0045  Other Taxes and Duties on Commodities and Serv...      984.71
20   NaN  TOTAL-Taxes on Commodities and Services Other ...   257726.93
21   NaN                                 TOTAL-A-TAXREVENUE  1246178.24

     2016-2017
0          NaN
1          NaN
2          NaN
3          NaN
4       183.17
5         0.67
6       262.96
7      8998.12
8      8922.54
9          NaN
10        0.00
11   141299.95
12   284494.25
13      713.57
14     2865.16
15      209.78
16       10.78
17       30.14
18   158289.83
19     1784.05
20   589697.51
21  1107967.73
None
<re.Match object; span=(0, 2), match='A-'>
<re.Match object; span=(0, 2), match='A-'>
None
None
None
None
None
    Code                                   Code/Description  2017-2018  \
0    NaN                                                  1        NaN
1    NaN         EXPENDITURE HEADS (REVENUE ACCOUNT)-contd.        NaN
2    NaN                          A-GENERAL SERVICES-contd.        NaN
3    NaN                       (b)- Fiscal Services-concld.        NaN
4    NaN  (iii) Collection of Taxeson Commodities and Se...        NaN
5   2037                                            Customs    3941.01
6   2038                                Union Excise Duties    5248.99
7   2039                                       State Excise       4.19
8   2040                         Taxes on Sales, Trade etc.       7.15
9   2041                                  Taxes on Vehicles      14.78
10  2044  Collection of charges under Union Territory Go...       1.18
11  2045  Other Taxes and Duties on Commodities and Serv...       0.18
12   NaN  TOTAL-Collection ofTaxeson Commodities and Ser...    9217.48
13   NaN                        (iv)-Other Fiscal Services-        NaN
14  2047                              Other Fiscal Services     232.14
15   NaN                       TOTAL-Other Fiscal Ser vices     232.14
16   NaN                               TOTAL-FISCALSERVICES   15641.64
17   NaN               (c) -Interest Payments and Servicing        NaN
18  2048   Appropriation for Reduction or Avoidance of Debt     303.12
19  2049                                  Interest Payments  543404.14
20   NaN      TOTAL-INTEREST PAYMENTS AND SERVICING OF DEBT  543707.26

    2016-2017
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5     3321.58
6     4055.78
7        4.10
8        6.35
9       10.51
10        NaN
11       0.17
12    7398.49
13        NaN
14     109.99
15     109.99
16   13150.34
17        NaN
18     593.42
19  503919.04
20  504512.46
None
None
<re.Match object; span=(0, 2), match='A-'>
<re.Match object; span=(0, 2), match='A-'>
None
None
None
None
None
None
None
    Code                                Code/Description  2017-2018  2016-2017
0    NaN                                               1        NaN        NaN
1    NaN          RECEIPT HEADS (REVENUE ACCOUNT)-contd.        NaN        NaN
2    NaN                               B-NON-TAXREVENUE-        NaN        NaN
3    NaN                            (a)-Fiscal Services-        NaN        NaN
4   0046                      Currency, Coinage and Mint     282.00     680.32
5   0047                           Other Fiscal Services     178.13      84.53
6    NaN                           TOTAL-FISCAL SERVICES     460.13     764.85
7    NaN    (b)-Interest Receipts, Dividendsand Profits-        NaN        NaN
8   0049                               Interest Receipts   45731.97   43496.06
9   0050                           Dividends and Profits   91366.96  123020.82
10   NaN  TOTAL-INTEREST RECEIPTS, DIVIDENDS AND PROFITS  137098.93  166516.88
11   NaN                       (c)-Other Non-TaxRevenue-        NaN        NaN
12   NaN                           (i) General Services-        NaN        NaN
13  0051                       Public Service Commission      84.03     104.04
14  0055                                          Police    7511.18    6277.76
15  0056                                           Jails       2.15       1.60
16  0057                          Supplies and Disposals      54.57     228.72
17  0058                         Stationery and Printing      53.50      52.50
18  0059                                    Public Works     351.71     211.73
19  0070                   Other Administrative Services    6224.28    5651.91
20  0071            Contributions and Recoveries towards        NaN        NaN
21  1707                                              43        NaN        NaN
22  0075                  Miscellaneous General Services   19366.96   18993.21
23  0076                           Defence Services-Army    2951.31    2494.95
24  0077                           Defence Services-Navy     629.82     332.49
25  0078                      Defence Services-Air Force    1025.60    2371.72
26  0079             Defence Services-Ordnance Factories    1852.02    2062.95
27  0080       Defence Services-Research and Development     279.24     353.16
28   NaN                           TOTAL-GENERALSERVICES   42150.64   40844.17
29   NaN                            (i)Social Ser vices-        NaN        NaN
30  0202              Education, Sports, Art and Culture     292.11     266.23
None
None
<re.Match object; span=(0, 2), match='B-'>
<re.Match object; span=(0, 2), match='B-'>
None
None
None
None
None
None
None

/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',

    Code                                   Code/Description   2017-2018  \
0    NaN                                                  1         NaN
1    NaN         EXPENDITURE HEADS (REVENUE ACCOUNT)-contd.         NaN
2    NaN                         A-GENERAL SERVICES-concld.         NaN
3    NaN                     (d) - Administrative Services-         NaN
4   2051                          Public Service Commission      589.11
5   2052                       Secretariat-General Services     4640.62
6   2053                            District Administration       34.33
7   2054               Treasury and Accounts Administration       21.52
8   2055                                             Police    70303.63
9   2056                                              Jails       28.22
10  2057                             Supplies and Disposals      176.41
11  2058                            Stationery and Printing      145.75
12  2059                                       Public Works     2200.22
13  2061                                   External Affairs     7605.75
14  2062                                          Vigilance       31.03
15  2070                      Other Administrative Services      922.70
16   NaN                      TOTAL-ADMINISTRATIVE SERVICES    86699.29
17   NaN  (e) -Pensions and Miscellaneous General Services-         NaN
18  2071  T 31 31 afg fedeIT Pensions and Other Retireme...   145745.07
19  2075                     Miscellaneous General Services    17450.67
20   NaN  TOTAL-PENSIONS AND MISCELLANEOUS GENERAL SERVICES   163195.74
21   NaN                            (f) -Defence Ser vices-         NaN
22  2076                             Defence Services- Army   135362.37
23  2077                              Defence Services-Navy    19344.87
24  2078                         Defence Services-Air Force    28418.80
25  2079                Defence Services-Ordnance Factories     1705.43
26  6963                          70 TOTAL-DEFENCE SERVICES   192865.25
27   NaN                           TOTAL-A-GENERAL SERVICES  1010123.87

    2016-2017
0         NaN
1         NaN
2         NaN
3         NaN
4      354.63
5         NaN
6       30.23
7       18.75
8    63497.42
9       25.15
10     137.72
11     154.63
12    2044.88
13        NaN
14      27.68
15     846.31
16   77510.33
17        NaN
18  131401.00
19   17836.13
20  149237.13
21        NaN
22  120374.50
23   17469.26
24   25228.14
25    2989.47
26  173025.07
27  926181.48
None
None
<re.Match object; span=(0, 2), match='A-'>
<re.Match object; span=(0, 2), match='A-'>
None
None
None
None
None
None
    Code                      Code/Description  2017-2018  2016-2017        4
0    NaN                                     1        NaN        NaN     None
1    NaN  RECEIPTHEADS(REVENUE ACCOUNT)-contd.        NaN        NaN     None
2    NaN               B-NON-TAXREVENUE-contd.        NaN        NaN     None
3    NaN       (c)-Other Non-TaxRevenue-contd.        NaN        NaN     None
4    NaN          (ii)-Social Services-concld.        NaN        NaN     None
5   0210             Medical and Public Health     580.43     412.82     None
6   0211                        Family Welfare      14.43      17.34     None
7   0215           Water Supply and Sanitation       3.62       3.44     None
8   0216                               Housing     385.89     175.55     None
9   0217                     Urban Development       0.07       0.02     None
10  0220             Information and Publicity      70.88      67.38     None
11  0221                          Broadcasting    1548.29    1710.30     None
12  0230                 Labour and Employment      37.93      27.59     None
13  0235           Social Security and Welfare       1.52    3427.95     None
14  0250                                              NaN     146.06  5889.16
15   NaN                 TOTAL-SOCIAL SERVICES    3081.23   11997.78     None
16   NaN               (iii)Economic Services-        NaN        NaN     None
17  0401                        Crop Husbandry     578.98     408.26     None
18  0403                      Animal Husbandry      27.04      23.60     None
19  0404                     Dairy Development     435.89     419.29     None
20  0405                             Fisheries      46.31       5.68     None
21  0406                Forestry and Wild Life     230.84      42.52     None
22  0408          Food Storage and Warehousing    1171.00      10.22     None
23  0415   Agricultural Research and Education       0.00       0.01     None
24  0425                          Co-operation       0.14       1.79     None
25  0435         Other Agricultural Programmes      21.75      18.88     None
26  0515    Other Rural Development Programmes       0.32       0.46     None
27  0701                     Medium Irrigation      34.44      19.00     None
28  0702                      Minor Irrigation       1.96       1.30     None
29  0801                                 Power    3308.36    6622.35     None
30  0802                             Petroleum   10878.80   10796.93     None
31  0803                       Coaland Lignite       4.45     432.73     None
32  0810    Non Conventional Sources of Energy      50.87       1.66     None
None
None
<re.Match object; span=(0, 2), match='B-'>
<re.Match object; span=(0, 2), match='B-'>
None
None
None
    Code                                   Code/Description  2017-2018  \
0    NaN                                                  1        NaN
1    NaN           EXPENDITUREHEADS(REVENUE ACCOUNT)-contd.        NaN
2    NaN                                 B-SOCIAL SERVICES-        NaN
3    NaN            (a)-Education, Sports, Art and Culture-        NaN
4   2202                                  General Education   26503.88
5   2203                                Technical Education   15893.97
6   2204                          Sports and Youth Services    1694.59
7   2205                                    Art and Culture    2475.23
8    NaN                                           TOTAL(a)   46567.67
9    NaN                     (b)-Health and Family Welfare-        NaN
10  2210                          Medical and Public Health   18255.25
11  2211                                     Family Welfare    1132.22
12   NaN                                           TOTAL(b)   19387.47
13   NaN              (c)-Water Supply, Sanitation, Housing        NaN
14  2215                        Water Supply and Sanitation    3667.74
15  2216                                            Housing    2659.72
16  2217                                  Urban Development        NaN
17   NaN                                          TOTAL (c)    7736.94
18   NaN                  (d)-Information and Broadcasting-        NaN
19  2220                          Information and Publicity     682.61
20  2221                                       Broadcasting    2737.87
21   NaN                                           TOTAL(d)    3420.48
22   NaN  (e)-Welfare of Scheduled Castes, Scheduled Tri...        NaN
23  2225  Welfare of Scheduled Castes, Scheduled Tribes,...    3399.88
24   NaN                                           TOTAL(e)    3399.88

    2016-2017
0         NaN
1         NaN
2         NaN
3         NaN
4    22262.28
5    11777.36
6     1574.28
7     2266.62
8    37880.54
9         NaN
10   15756.85
11    1186.39
12   16943.24
13        NaN
14   10224.39
15    1522.00
16    1544.94
17   13291.33
18        NaN
19     746.26
20    2812.06
21    3558.32
22        NaN
23    2584.39
24    2584.39
None
None
<re.Match object; span=(0, 2), match='B-'>
<re.Match object; span=(0, 2), match='B-'>
None
None
None
None
None
None
None
None
None
None
    Code                                   Code/Description  2017-2018  \
0    NaN                                                  1        NaN
1    NaN              RECEIPTHEADS (REVENUE ACCOUNT)-contd.        NaN
2    NaN                           B-NON-TAXREVENUE-concld.        NaN
3    NaN                  (c)-Other Non-Tax Revenue-concld.        NaN
4    NaN  (ii) Economic Services-concld.Economic Service...        NaN
5   0851                       Village and Small Industries      48.47
6   0852                                         Industries    1861.48
7   0853    Non-Ferrous Mining and Metallurgical Industries    1216.75
8   0875                                   Other Industries     182.65
9   1001             Indian Railways-Miscellaneous Receipts     204.33
10  1002  Indian Railways-Commercial Lines- Revenue Rece...  176779.16
11  1003   Indian Railways-Strategic Lines- Revenue Receipt    1946.15
12  1051                             Ports and Light Houses     370.99
13  1052                                           Shipping     153.06
14  1053                                     Civil Aviation      81.05
15  1054                                  Roads and Bridges    9072.52
16  1055                                     Road Transport     160.89
17  1056                             Inland Water Transport      20.53
18  1201                                    Postal Receipts   12832.76
19  1275                       Other Communication Services   32065.90
20  1401                             Atomic Energy Research      84.09
21  1425                          Other Scientific Research    1043.11
22  1452                                            Tourism      18.04
23  1453  fae aTUR 3i fa viqe Foreign Trade and Export P...     230.13
24  1456                                     Civil Supplies       6.38
25  1475                    Other General Economic Services    3422.14
26   NaN                      TOTAL (iii) ECONOMIC SERVICES  258591.73
27   NaN                    TOTAL (c) OTHER NON-TAX REVENUE  303823.60
28   NaN                             TOTALB-NON-TAX REVENUE  441382.66

    2016-2017
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5       30.63
6     3046.11
7       17.08
8      219.19
9       90.29
10  161582.66
11    3709.54
12     397.69
13     178.80
14      57.59
15    7326.25
16     151.43
17      15.17
18   11511.00
19   70241.14
20     103.76
21    1052.75
22      15.17
23     242.79
24       1.71
25        NaN
26  286596.95
27  339438.90
28  506720.63
None
None
<re.Match object; span=(0, 2), match='B-'>
<re.Match object; span=(0, 2), match='B-'>
None
None
None
    Code                                   Code/Description  2017-2018  \
0    NaN                                                  1        NaN
1   1414  B-Social Ser vices-concld. (f) Labour and Labo...        NaN
2    NaN                     (f) Labour and Labour Welfare-        NaN
3   2230           Labour, Employment and Skill Development    7942.70
4    NaN                                           TOTAL ()    7942.70
5    NaN                 (g) Social Welfare and Nutrition -        NaN
6   2235                        Social Security and Welfare        NaN
7   2236                                          Nutrition      26.11
8   2245            Relief on account of Natural Calamities    5586.70
9    NaN                                          TOTAL (g)   12110.24
10   NaN                                        (h) Others-        NaN
11  2250                              Other Social Services     114.32
12  2251                        Secretariat-Social Services     656.93
13   NaN                                          TOTAL (h)     771.25
14   NaN                              TOTAL-SOCIAL SERVICES  101336.63

    2016-2017
0         NaN
1         NaN
2         NaN
3     6051.37
4     6051.37
5         NaN
6     3520.82
7       27.70
8    12188.46
9    15736.98
10        NaN
11     611.81
12     551.69
13    1163.50
14   97209.67
None
None
None
None
None
None
None
None

/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',

    Code                                   Code/Description   2017-2018  \
0    NaN                                                  1         NaN
1   1414             PARTI-CONSOLIDATEDFUND-REVENUE-concld.         NaN
2   3114                   C-GRANTS-IN-AIDANDCONTRIBUTIONS-         NaN
3   1605                          External Grant Assistance     1436.56
4   1606                         Aid Material and Equipment     2145.64
5    NaN            TOTAL-C-GRANTS-IN-AID AND CONTRIBUTIONS     3582.20
6    NaN          TOTAL-RECEIPT HEADS (REVENUE ACCOUNT) (*)  1691143.10
7    NaN                                   CAPITAL RECEIPT-         NaN
8   4000                     Miscellaneous Capital Receipts   100048.45
9    NaN                                     E-PUBLIC DEBT-         NaN
10  6001               3 Internal Debt ofCentral Government  6505484.83
11  6002                                      External Debt    48516.74
12   NaN                                  TOTAL-PUBLIC DEBT  6554001.57
13   NaN                               F-LOANS AND ADVANCES    70639.17
14   NaN  TOTAL-CONSOLIDATED FUND SA LI'OEOLIE :1ah4 bol...  8415832.29

     2016-2017
0          NaN
1          NaN
2          NaN
3      1299.59
4          NaN
5      1299.59
6   1615987.95
7          NaN
8     47742.55
9          NaN
10  6089945.20
11    44191.49
12  6134136.69
13    40971.10
14  7838838.29
None
None
None
None
<re.Match object; span=(0, 2), match='E-'>
<re.Match object; span=(0, 2), match='E-'>
None
<re.Match object; span=(0, 2), match='F-'>
<re.Match object; span=(0, 2), match='F-'>
None
    Code                            Code/Description  2017-2018  2016-2017
0    NaN                                           1        NaN        NaN
1    NaN  EXPENDITURE HEADS (REVENUE ACCOUNT)-contd.        NaN        NaN
2    NaN                        C-ECONOMIC SERVICES-        NaN        NaN
3    NaN      (a) Agriculture and Allied Activities-        NaN        NaN
4   2401                              Crop Husbandry   34153.61   27138.18
5   2402                 Soil and Water Conservation      34.13      29.85
6   2403                            Animal Husbandry     486.92     348.18
7   2404                           Dairy Development    1120.68    1050.41
8   2405                                   Fisheries     135.40     148.14
9   2406                       Forestry and WildLife    1354.78     641.14
10  2407                                 Plantations     646.53     524.73
11  2408               Food, Storage and Warehousing  106433.27  115307.59
12  2415         Agricultural Research and Education    6936.21    5722.03
13  2416         Agricultural Financial Institutions   13300.47   13415.99
14  2425                                Co-operation     240.59     139.89
15  2435               Other Agricultural Programmes     639.17     864.52
16   NaN                                   TOTAL (a)  165481.76  165330.65
17   NaN                     (b) Rural Development -        NaN        NaN
18  2501    Special Programmes for Rural Development     732.53     921.97
19  2505                            Rural Employment   55166.51   47499.17
20  2506                                Land Reforms      99.18     143.94
21  2515          Other Rural Development Programmes    1217.63        NaN
22   NaN                                   TOTAL (b)   57215.85   49613.02
None
None
<re.Match object; span=(0, 2), match='C-'>
<re.Match object; span=(0, 2), match='C-'>
None
None
None
None
    Code                           Code/Description  2017-2018  2016-2017
0    NaN                                          1        NaN        NaN
1    NaN  EXPENDITURE HEADS(REVENUE ACCOUNT)-contd.        NaN        NaN
2    NaN                C-ECONOMIC SER VICES-contd.        NaN        NaN
3    NaN              (c) Special Areas Programmes-        NaN        NaN
4   2552                        North Eastern Areas     512.98     566.52
5   2553          MPs Local Area Development Scheme    3504.00    3499.50
6    NaN                                   TOTAL(c)    4016.98    4066.02
7    NaN          (d) Irrigation and Flood Control-        NaN        NaN
8   2700                           Major Irrigation       0.00     100.00
9   2701                          Medium Irrigation    1382.38     621.93
10  2702                           Minor Irrigation     314.95     271.32
11  2711                 Flood Control and Drainage     267.97     231.23
12   NaN                                   TOTAL(d)    1965.30    1224.48
13   NaN                                (e) Energy-        NaN        NaN
14  2801                                      Power   17281.34   13840.87
15  2802                                  Petroleum   24915.79   27637.15
16  2803                           Coal and Lignite     680.35     496.35
17  2810                   New and Renewable Energy    5412.14    6431.52
18   NaN                                   TOTAL(e)   48289.62   48405.89
None
None
<re.Match object; span=(0, 2), match='C-'>
<re.Match object; span=(0, 2), match='C-'>
None
None
None
None
None
None
    Code                                   Code/Description  2017-2018  \
0    NaN                                                  1        NaN
1    NaN         EXPENDITURE HEADS (REVENUE ACCOUNT)-contd.        NaN
2    NaN                         C-ECONOMIC SERVICES-contd.        NaN
3    NaN                          (f) Industryand Minerals-        NaN
4   2851                       Village and Small Industries    7572.20
5   2852                                         Industries   77646.25
6   2853    Non Ferrous Mining and Metallurgical Industries    1150.22
7   2875                                   Other Industries     248.49
8   2885           Other Outlays on Industries and Minerals        NaN
9    NaN                                           TOTAL(f)   89198.48
10   NaN  (g) Transport- Indian Railways-Policy Formulat...        NaN
11  1429   Research and other Miscellaneous Organisation 81    1439.88
12  3002  Indian Railways-Commercial Lines- working Expe...  173827.74
13  3003  Indian Railways-Strategic Lines - Working Expe...    2006.48
14  3006                 Appropriation from Railway Surplus    1665.61
15  3051                             Ports and Light Houses     953.52
16  3052                                           Shipping     871.77
17  3053                                     Civil Aviation     845.69
18  3054                                  Roads and Bridges   18990.79
19  3055                                     Road Transport     419.86
20  3056                             Inland Water Transport     458.36
21  3075                           Other Transport Services    1891.38
22   NaN                                          TOTAL (g)  203361.01

    2016-2017
0         NaN
1         NaN
2         NaN
3         NaN
4     5100.42
5    67427.62
6     1013.93
7      108.23
8      940.40
9    74590.60
10        NaN
11        NaN
12  157344.98
13    1684.63
14    4913.00
15     910.41
16     761.75
17     504.64
18   25348.31
19     382.48
20     372.36
21    3594.46
22  197256.90
None
None
<re.Match object; span=(0, 2), match='C-'>
<re.Match object; span=(0, 2), match='C-'>
None
None
None
None
    Code                                   Code/Description  2017-2018  \
0    NaN                                                  1        NaN
1    NaN          EXPENDITURE HEADS(REVENUE ACCOUNT)-contd.        NaN
2    NaN                        C-ECONOMIC SERVICES-concld.        NaN
3    NaN                                (h) Communications-        NaN
4   3201                                    Postal Services   24874.04
5   3225                         Telecommunication Services     151.95
6   3275                       Other Communication Services    8492.52
7    NaN                                          TOTAL (h)   33518.51
8    NaN           (i) Science Technology and Environment -        NaN
9   3401                             Atomic Energy Research    5786.35
10  3402                                     Space Research    5294.60
11  3403                             Oceanographic Research     531.01
12  3425                          Other Scientific Research   11417.60
13  3435                             Ecologyand Environment    1561.05
14   NaN                                          TOTAL (i)   24590.61
15   NaN                    (j) General Economic Ser vices-        NaN
16  3451                      Secretariat-Economic Services    3404.83
17  3452                                            Tourism    1806.25
18  3453                 Foreign Trade and Export Promotion    4449.77
19  3454                      Census Surveys and Statistics    1403.88
20  3455                                        Meteorology     873.18
21  3456                                     Civil Supplies    3640.34
22  3465  T a 3 TR iven General Financial and Trading In...    1736.94
23  3466               International Financial Institutions     660.04
24  3475                    Other General Economic Services    1485.16
25   NaN                                            TOTAL()   19460.39
26   NaN                            TOTAL-ECONOMIC SERVICES  647098.51

    2016-2017
0         NaN
1         NaN
2         NaN
3         NaN
4    23456.00
5      145.50
6    10851.78
7    34453.28
8         NaN
9     5073.80
10    4377.02
11     412.34
12   10113.75
13     920.17
14   20897.08
15        NaN
16    3921.93
17    1683.47
18    3531.77
19        NaN
20     802.13
21    7032.17
22    2174.95
23     610.96
24    1420.58
25   22788.19
26  618626.11
None
None
<re.Match object; span=(0, 2), match='C-'>
<re.Match object; span=(0, 2), match='C-'>
None
None
None
None
None
    Code                                   Code/Description   2017-2018  \
0    NaN                                                  1         NaN
1   3601  T ROR HERIT 3JGTH Grants-in-aid to State Gover...   372742.03
2   3602  Grants-in-aid to Union Territory Governments w...     3759.81
3   3605  Technical and Economic Co-operation with Other...     5023.69
4    NaN               TOTAL-GRANTS-IN-AIDAND CONTRIBUTIONS   381525.53
5    NaN  TOTAL-EXPENDITURE HEADS (REVENUE ACCOUNT) (*) ...  2140084.54
6    NaN                 (For detailsrefer statement No.10)   325115.97
7    NaN                                      E-PUBLICDEBT-         NaN
8   6001                Internal Debt of Central Government  5845919.36
9   6002                                      External Debt    26685.27
10   NaN                                  TOTAL -PUBLICDEBT  5872604.63
11   NaN                                 F-LOANSANDADVANCES    82136.18
12   NaN                            G-INTERSTATE SETTLEMENT         NaN
13   NaN                      H-Transfer toContingency Fund         NaN
14   NaN  TOTAL-CONSOLIDATEDFUND 31 CT Q4, PTUR H 349T: ...  8419941.32

     2016-2017
0          NaN
1    280835.53
2      5040.39
3      5124.94
4    291000.86
5   1933018.12
6    249471.85
7          NaN
8   5652628.31
9     26194.89
10  5678823.20
11    60011.36
12         NaN
13         NaN
14  7921324.53
None
None
None
None
<re.Match object; span=(0, 2), match='E-'>
<re.Match object; span=(0, 2), match='E-'>
None
<re.Match object; span=(0, 2), match='F-'>
<re.Match object; span=(0, 2), match='F-'>
<re.Match object; span=(0, 2), match='G-'>
<re.Match object; span=(0, 2), match='G-'>
<re.Match object; span=(0, 2), match='H-'>
<re.Match object; span=(0, 2), match='H-'>
None
    Code                                   Code/Description   2017-2018  \
0    NaN                                                  1         NaN
1    NaN   PARTII-CONTINGENCYFUND Contingency Fund of India         NaN
2   3104  aad, afa faferai I-SMALL SAVINGS, PROVIDENT FU...   850460.22
3    NaN                                   J-RESERVE FUNDS-         NaN
4    NaN                 (a) Reserve Funds bearing interest    50838.55
5    NaN             (b) Reserve Funds not bearing interest   256198.89
6    NaN                              TOTAL-J-RESERVE FUNDS   307037.44
7    NaN                           K-DEPOSITS AND ADVANCES-         NaN
8    NaN                      (a) Deposits bearing interest    17700.32
9    NaN                  (b) Deposits not bearing Interest   203670.57
10   NaN                                       (c) Advances    45081.15
11   NaN                      TOTAL-K-DEPOSITS AND ADVANCES   266452.04
12   NaN                       L-SUSPENSE AND MISCELLANEOUS     6134.39
13   NaN                                      M-REMITTANCES     4308.86
14   NaN                               TOTAL-PUBLIC ACCOUNT  1434392.95
15   NaN                                     TOTAL-RECEIPTS  9850225.24
16   NaN                               OPENING CASH BALANCE     5498.61
17   NaN                                              TOTAL  9855723.85
18  2016   a14 1CS 914 # 13 els o g 8SI O fery fadoT 13 a I         NaN
19  2016  was 13 crore. For details refer statement No.13.         NaN

     2016-2017
0          NaN
1          NaN
2    754401.40
3          NaN
4     46421.44
5    175560.88
6    221982.32
7          NaN
8     17558.21
9    139395.14
10    55740.85
11   212694.20
12    83728.96
13     1142.46
14  1273949.34
15  9112787.63
16     3396.52
17  9109391.11
18         NaN
19         NaN
None
None
<re.Match object; span=(0, 2), match='J-'>
<re.Match object; span=(0, 2), match='J-'>
None
None
None
<re.Match object; span=(0, 2), match='K-'>
<re.Match object; span=(0, 2), match='K-'>
None
None
None
None
<re.Match object; span=(0, 2), match='L-'>
<re.Match object; span=(0, 2), match='L-'>
<re.Match object; span=(0, 2), match='M-'>
<re.Match object; span=(0, 2), match='M-'>
None
None
None
<re.Match object; span=(0, 5), match='TOTAL'>
<re.Match object; span=(0, 5), match='TOTAL'>
    Code                                   Code/Description   2017-2018  \
0    NaN                                                  1         NaN
1    NaN   PARTII-CONTINGENCYFUND Contingency Fund of India         NaN
2    NaN                             PARTIII-PUBLIC ACCOUNT         NaN
3    NaN                           I-SMALLSAVINGS,PROVIDENT         NaN
4    NaN                                         FUNDS,etc.   844637.65
5    NaN                                   J-RESERVE FUNDS-         NaN
6    NaN                 (a) Reserve Funds bearing interest    49178.89
7    NaN  (b) Reserve Funds not bearing interest239435.1...   239435.14
8    NaN                              TOTAL-J-RESERVE FUNDS   288614.03
9    NaN                            K-DEPOSITS ANDADVANCES-         NaN
10   NaN                      (a) Deposits bearing interest     4432.80
11   NaN                  (b) Deposits not bearing Interest   190702.96
12   NaN                                       (c) Advances    46178.58
13   NaN                      TOTAL-K-DEPOSITS AND ADVANCES   241314.34
14   NaN                       L-SUSPENSE AND MISCELLANEOUS    58707.83
15   NaN                                      M-REMITTANCES     1100.80
16   NaN                               TOTAL-PUBLIC ACCOUNT  1434374.65
17   NaN                                TOTAL-DISBURSEMENTS  9854315.97
18   NaN                               CLOSING CASH BALANCE     1407.88
19   NaN                                              TOTAL  9855723.85
20  2017    aT YO 914 # 7301s a a 8SI a fery fadoT ve 13 I         NaN
21  2017   was 73 crore. For details refer statement No.13         NaN

     2016-2017
0          NaN
1          NaN
2          NaN
3          NaN
4    719148.56
5          NaN
6     54150.58
7          NaN
8    228417.85
9          NaN
10     5642.65
11   135245.83
12    54014.01
13   194902.49
14    34247.07
15     5852.00
16  1182567.97
17  9103892.50
18     5498.61
19  9109391.11
20         NaN
21         NaN
None
None
None
<re.Match object; span=(0, 2), match='I-'>
<re.Match object; span=(0, 2), match='I-'>
None
<re.Match object; span=(0, 2), match='J-'>
<re.Match object; span=(0, 2), match='J-'>
None
None
None
<re.Match object; span=(0, 2), match='K-'>
<re.Match object; span=(0, 2), match='K-'>
None
None
None
None
<re.Match object; span=(0, 2), match='L-'>
<re.Match object; span=(0, 2), match='L-'>
<re.Match object; span=(0, 2), match='M-'>
<re.Match object; span=(0, 2), match='M-'>
None
None
None
<re.Match object; span=(0, 5), match='TOTAL'>
<re.Match object; span=(0, 5), match='TOTAL'>

/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',
/var/folders/j0/50yg8_lj1wz6nx0dfw434ytw0000gn/T/ipykernel_27406/3982549419.py:419: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Code/Description'].astype(str).str.replace(r'^\*', '', regex=True).str.replace('.', '',

,Code,Code/Description,header,subheader,sub-subheader,Year,Amount,page_type
0,0005,Central Goods and Services Tax(CGST) *193591.99,TAXREVENUE,Goods and Service Tax,None,2018,193591.99,Receipts
1,0007,Union Territory Goods and Services,TAXREVENUE,Goods and Service Tax,None,2018,1635.10,Receipts
2,0008,Integrated Goods and Services Tax(IGST) * 1086...,TAXREVENUE,Goods and Service Tax,None,2018,108690.44,Receipts
3,0009,Goods and Services Tax Compensation,TAXREVENUE,Goods and Service Tax,None,2018,62611.59,Receipts
4,nan,TOTAL-Goods and Services Tax,TAXREVENUE,Goods and Service Tax,None,2018,366529.12,Receipts
...,...,...,...,...,...,...,...,...
587,nan,M-REMITTANCES,REMITTANCES,None,None,2017,5852.00,Disbursements
588,nan,TOTAL-PUBLIC ACCOUNT,REMITTANCES,None,None,2017,1182567.97,Disbursements
589,nan,TOTAL-DISBURSEMENTS,REMITTANCES,None,None,2017,9103892.50,Disbursements
590,nan,CLOSING CASH BALANCE,REMITTANCES,None,None,2017,5498.61,Disbursements
591,nan,TOTAL,,None,None,2017,9109391.11,Disbursements

In [18]:
input_str = "BSOCIAL SERVICES"
for match in HEADERS:
    # print(match.lower(),":",input_str.lower())
    if clean_string(match.lower()).strip() in clean_string(input_str.lower()):
        print(match)
match.group[0]

SOCIAL SERVICES

AttributeError: 'str' object has no attribute 'group'